.results-container {
    display: flex;
    flex-direction: column;
    width: 100wv;
    justify-content: center;
    align-items: center;
    color: aliceblue;

    .reset-button {
        margin: 100px;
        border: 0.5px solid #eeeeee;
        background-color: #eeeeee;
        padding: 15px;
        border-radius: 8px;
        font-weight: bold;
        color: #777777;
    }
    .reset-button:hover{
        cursor: pointer;
    }
}