@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start from below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
}

.note-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  animation: fadeInUp 0.5s ease-out;

  pre {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .note-content {
    font-size: 16px;
    width: 40%;
    line-height: 1.8;
    height: 100%;
  }
}
