.homebox {
  width: 100%;
  font-family: "Inter", sans-serif;

  .top-nav {
    display: flex;
    height: 50px;
    align-items: center;

    .ri-home-line {
      margin-left: 20px;
    }
  }

  .layout-container {
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4b4b4b;

    .skill-title-and-delete {
      display: flex;
      width: 100%;
      .skill-title {
        font-size: 36px;
        font-weight: bold;
        color: #ffffff;
        margin-left: 50%;
      }
      .ri-delete-bin-7-line {
        margin-left: auto;
        margin-right: 100px;
        color: #ffffff;
        cursor: pointer;
      }
    }

    main {
      margin: 50px;
      width: 90%;
    }

    .navbar {
      color: #ffffff;
      padding: 10px;
      width: 80%;
    }

    .nav-list {
      list-style-type: none;
      padding: 0;
      display: flex;
    }

    .nav-list li {
      margin-right: 20px;
    }

    .nav-button {
      background-color: transparent;
      border: none;

      cursor: pointer;
    }

    .nav-button:hover {
      text-decoration: underline;
    }

    .nav-button {
      background-color: transparent;
      border: none;
      color: #ffffff;
      cursor: pointer;
      border-bottom: 2px solid transparent;
    }

    .nav-bar {
      border-bottom: 0.1ch solid #b3b3b3;
    }
  }
}
