.card-container{
    display: flex;
    flex-direction: column;
    background-color: #CACACA;
    padding: 25px;
    border-radius: 5%;
}

.card-container:hover{
    transition: 500ms;
    transform: scale(1.05);
}