.add-question-component {
  display: flex;
  align-items: center;
  color: #5f5f5f;

  .add-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      color: #e2e2e2;
      margin-top: 10px;
    }

    .question-input {
      height: 10vh;
      width: 20vw;
    }

    .answer-input {
      height: 10vh;
      width: 20vw;
    }

    .button-and-tag {
      margin-top: 5px;
      display: flex;
      margin-right: auto;
      width: 100%;

      .back-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eeeeee;
        width: 6vw;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        font-weight: bold;
        margin-left: auto;
        height: 5%;
      }

      .back-button:hover {
        cursor: pointer;
        background-color: #e2e2e2;
        color: rgb(167, 167, 167);
      }

      .create-question-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eeeeee;
        width: 8vw;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        font-weight: bold;
        margin-left: 5px;
        height: 5%;
      }

      .create-question-button:hover {
        cursor: pointer;
        background-color: #e2e2e2;
        color: rgb(167, 167, 167);
      }
    }
  }
}
