@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start from below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
}

.practice-container {
  width: 100%;
  display: flex;
  justify-content: center;
  animation: fadeInUp 0.5s ease-out;

  .practice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #eeeeee;

    h1 {
      margin-bottom: 30px;
    }

    #editor {
      background-color: #eeeeee;
      color: black;
      border-radius: 5px;
    }

    .submit-button {
      background-color: #eeeeee;
      border-radius: 5px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-left: auto;
      font-size: 15px;
      padding: 10px;
    }

    .submit-button:hover {
      background-color: #c9c9c9;
      cursor: pointer;
    }
  }
}
