@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start from below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
}

.practice-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 0.5s ease-out;
  color: #eeeeee;

  .practice-question-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .practice-question-and-bin {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      width: 100%;
      justify-content: center;
      align-items: center;

      h1 {
        margin-left: auto;
      }

      .ri-add-circle-line {
        margin-left: auto;
        cursor: pointer;
      }

      .ri-delete-bin-7-line {
        margin-left: 2rem;
        cursor: pointer;
      }
    }

    .practice {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #eeeeee;
      width: 100%;

      .editor-and-buttons {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        align-items: center;

        .ql-toolbar {
          border-radius: 5px;
          display: flex;
          justify-content: center;
        }

        .skip-submit-buttons {
          display: flex;
          flex-direction: row;
          margin-left: auto;
          margin-top: 10px;

          .skip-button {
            background-color: #eeeeee;
            border-radius: 5px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            font-size: 15px;
            padding: 10px;
          }

          .skip-button:hover {
            background-color: #c9c9c9;
            cursor: pointer;
          }

          .submit-button {
            background-color: #eeeeee;
            border-radius: 5px;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            font-size: 15px;
            padding: 10px;
          }

          .submit-button:hover {
            background-color: #c9c9c9;
            cursor: pointer;
          }
        }
      }
    }
  }
}
