.practice-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .practice {
    width: 70vw;
    color: #eeeeee;

    h1 {
      margin-bottom: 30px;
    }

    #editor {
      background-color: #eeeeee;
      color: black;
    }

    .submit-button {
      background-color: #eeeeee;
      border-radius: 5px;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-left: auto;
      font-size: 20px;
      width: 5vw;
    }

    .submit-button:hover {
      background-color: #c9c9c9;
      cursor: pointer;
    }
  }
}
