@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); /* Start from below */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Move to original position */
  }
}

.reference-container {
  display: flex;
  flex-direction: row;
  animation: fadeInUp 0.5s ease-out;
  height: 100vh;
  overflow: hidden;

  .sidebar-container {
    display: flex;
    margin-left: 40px;
    flex-direction: column;
    width: 250px;
    min-width: 250px;
    padding: 20px;
    border-right: 0.5px solid #eeeeee;
    color: #eeeeee;
    position: fixed;
    height: 100vh;
    overflow-y: auto;

    .topic-title {
      &:not(:first-child) {
        margin-top: 30px;
      }
    }

    .topic-title:hover {
      cursor: pointer;
    }

    .add-topic:hover {
      cursor: pointer;
    }

    .add-topic-button-container {
      display: flex;
      width: 100%;
      justify-content: center;

      .add-topic-button {
        display: flex;
        justify-content: center;
        border: solid 1px #eeeeee;
        background-color: #eeeeee;
        color: #585858;
        padding: 10px;
        width: 80%;
        min-width: 150px;
        margin-top: 100px;
        border-radius: 8px;
      }

      .add-topic-button:hover {
        cursor: pointer;
      }
    }
  }

  .reference-content-right {
    color: #eeeeee;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 290px;
    height: 100vh;
    overflow-y: auto;

    .reference-content-container {
      width: 100%;
      max-width: 800px;
      padding: 0 20px;

      .reference-title-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 30px;

        h1 {
          margin-left: auto;
          margin-bottom: 70px;
        }

        .ri-edit-line {
          cursor: pointer;
          margin-left: auto;
        }

        .ri-delete-bin-7-line {
          cursor: pointer;
          margin-left: 20px;
        }
      }

      .reference-content {
        margin: 30px;
        font-size: 16px;
        line-height: 1.8;

        pre {
          background-color: black;
          padding: 10px;
          border-radius: 5px;
        }
      }
    }
  }

  .add-topic {
    margin-top: 30px;
  }
}
